<div class="abs-center">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">

            <button type="button" (click)="onLike()" class="btn btn-primary">
                Likes
            </button>
            <label>{{ likes }}</label>            
            
            <button type="button" (click)="onDislike()"
              class="btn btn-warning float-right">
                Dislikes
            </button>
            <label>{{ dislikes }}</label>

        </div>

        <div class="form-group">
            <label>Comentario</label>
            <input
              type="number"
              formControlName="comentario"
              class="form-control"              
            /> 
        </div>
    </form>
</div>
