<div style="float:left; auto;">
<div *ngIf="items">    
  <table class="table ">        
      <tbody>
          <tr *ngFor="let item of items">               
              <td >  <!-- 
                <iframe width="500" height="250" src="https://www.youtube.com/embed/EqWRaAF6_WY">
                </iframe> -->              
                <youtube-player   
                  [videoId]=item.songYoutubeRoute
                  suggestedQuality="highres"
                  [height]="250" 
                  [width]="500" 
                  [startSeconds]="4"
                  [endSeconds]="8">
                </youtube-player>
              </td>
          </tr>     
          
          <tr *ngFor="let item of items">
              <td>
                <div class="abs-center">
                  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                      <div class="form-group">
              
                          <button id="like" type="button" (click)="onLike()">
                              <img src="../../assets/like.png" width="20px">
                          </button>
                          <label>{{ item.songLikes }}</label>            
                          
                          <button type="button" (click)="onDislike()"
                          id="like">
                              <img src="../../assets/dislike.png" width="20px">
                          </button>
                          <label>{{ item.songdislikes }}</label>
              
                      </div>
              
                      <div class="form-group">
                          <label>Comentario</label>
                          <input
                            type="text"
                            formControlName="comentario"
                            class="form-control" 
                            id="comentario"             
                          /> 
                      </div>
                      <div class="form-group">
                        <input type="submit" value="Guardar"
                             class="btn btn-warning float-right">                            
                      </div>
                      
                      <tr *ngFor="let comment of comments">               
                        <td>
                        <div class="d-flex flex-row ">

                            <div class="d-flex flex-column">
                              <div class="p-2 ">{{ comment.commentContent }}</div>
 </div>    
                          </div>
                        </td>
                    </tr>       

                  </form>
              </div>
              </td>
          </tr>

      </tbody>
    </table>
</div> 
</div> 
<div style="float: right; width: auto;" >
<app-suggestions></app-suggestions>
</div>

<!-- videoId="80_Cr9m-1fE"  -->