<div class="d-flex">

    <div class="p-2 flex-fill d-flex flex-row-reverse">
        <div><b>YouTube</b></div>
        <div><img src="./assets/youtube.png" class="rounded" height="25px" width="25px"></div>
            </div>

    <div class="p-2  flex-fill d-flex flex-row-revers">
        <div class="container">

            <div class="row height d-flex justify-content-center align-items-center">

              <div class="col-md-8">

                <div class="search">
                  <i class="fa fa-search"></i>

                  <form #myForm="ngForm" (submit)="submitForm(myForm)">
                    <input type="text" class="form-control" placeholder="Have a question? Ask Now">
                    <button class="btn btn-primary" type="submit">
                      <a [routerLink]="['/the-search', item.id]">
                        Search
                      </a>
                    </button>
                  </form>

                </div>
                
              </div>
              
            </div>
        </div>
    </div>

    <div class="p-2 flex-fill d-flex flex-row-reverse">
        <button class="btn ">Theme</button>
    </div>
</div>
<br>
<a routerLink="random" routerLinkActive="active">Random</a><br>
<a routerLink="component-suggestions-comments" routerLinkActive="active">component-suggestions-comments</a>
<br><br>
